
  :root {
    --primary-color: #9b9b9b;
    --tertiary-color: #21aca5;
  }
  
  * {
    box-sizing: border-box;
   
  }

 
  
  body {
    background-color: #56585a;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }

  h1,h2,h3 {
      margin: 0

  }

  p {
      margin: 0
  }

  header {
    padding: 15px 6% 15px 0;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    align-items: center;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
  /*  background-position: 80%; */
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    padding: 5px 2%  5px 5%;
    margin: 0;
    font-size: 4vw;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 1;
  }

  nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  nav a{
    padding: 5px 10px;
    margin-right: 10px;

  }

  nav a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  

  .hero {
    color: white;
    justify-content: ;
  }
  

  .hero-wrapper {
      background-image: url("images/Capture.JPG");
      height: 100px;
  }

  .work-wrapper{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;

  }

  .work {
    flex: 1 40%;
    
  }
  .flex-row h2{
      display: block;
  }
    .work-img{ 
        width:50%;
        }
    .work-img img{
        width: 250px;
        height: 150px;
    }
  
  .about-me{

  }

 
  @media screen and (max-width: 980px) {
      header {
          padding: 0 0 10px 0;
          justify-content: center;
          text-align: center;
      }

      header nav {
          justify-content: center;
      }


  }

  @media screen and (max-width: 720px ) {
      .flex-item,
      .flex-item:first-child {
          flex-basis: 100%;
      }

      .contact address {
          flex-direction: column;
          align-items: flex-start;
      }

  }